{% load static %}

<!-- FOOTER AREA START -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-11">
                <div class="footer-logo">
                    <a class="f-logo" href="#banner"><b>Animado.</b></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt earum voluptatibus magni! </p>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Top Offers</h3>
                    <ul>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Subscriptions</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Privacy Site</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Informations</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Recent Blogs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Conditions</a></li>
                        <li><a href="#">System Site</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Helping Desk</h3>
                    <ul>
                        <li><a href="#">Ask Question</a></li>
                        <li><a href="#">Deal With Us</a></li>
                        <li><a href="#">Share Money</a></li>
                        <li><a href="#">Timing For Visit</a></li>
                        <li><a href="#">Category</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER AREA END -->

<!-- COPY_RIGHT AREA START -->
<section id="footer-btm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fop-btm text-center">
                    <h2>Copyright &copy; 2020. All rights reserved by <a href="#">Animado</a></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COPY_RIGHT AREA END -->