{% load static %}

<!-- FOOTER AREA START -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-11">
                <div class="footer-logo">
                    <a class="f-logo" href="#banner"><b>AI Genie</b></a>
                    <p>Your AI Genie in a Bottle - Powered by chatGPT the world's most advance NLP based chatBot.</p>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-android" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Models</h3>
                    <ul>
                        <li><a href="#">Davinci</a></li>
                        <li><a href="#">Babbage</a></li>
                        <li><a href="#">Codex</a></li>
                        <li><a href="#">Ada</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Subscriptions</h3>
                    <ul>
                        <li><a href="#">Free</a></li>
                        <li><a href="#">Silver</a></li>
                        <li><a href="#">Gold</a></li>
                        <li><a href="#">Diamond</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="links">
                    <h3>Help</h3>
                    <ul>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="https://exarth.com/">About Us</a></li>
                        <li><a href="mailto:support@exarth.com">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER AREA END -->

<!-- COPY_RIGHT AREA START -->
<section id="footer-btm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fop-btm text-center">
                    <h2>Copyright &copy; 2023 - {% now 'Y' %}. All rights reserved by <a href="/">AI Genie</a></h2>
                    <h2>Developed by <a href="https://exarth.com/">Exarth</a></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COPY_RIGHT AREA END -->