{% extends 'website/base.html' %}
{% load static %}
{% load cool_num %}


{% block subtitle %}
    Your AI Genie in a Bottle
{% endblock %}

{% block content %}

    <!-- BANNER AREA START -->
    <section id="banner">
        <div class=".particles-js-canvas-el" id="particles-js"></div>
        <div class="design-layer"></div>
        <div class="backtotop">
            <a href="#banner"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <div class="container zindex">
            <div class="row">
                <div class="col-lg-7 banner-txt">
                    <h3>Your AI Genie in a Bottle</h3>
                    <p>Powered by <b>CHATGPT</b> with AI Genie, you can unlock the power of AI and take control of your
                        life. Try AI Genie today
                        and experience the future of AI-powered assistance.
                    </p>
                    <a href="#" data-toggle="modal" data-target="#downloadModal">
                        <i class="fa fa-download"></i> Download Now
                    </a>
                </div>
                <div class="col-lg-5">
                    <div class="banner-img">
                        <img src="{% static 'website/images/banner.png' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER AREA ENDS -->

    <!-- FEATURE AREA START -->
    <section id="overview">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>FEA<span>T</span>URE</h3>
                </div>
            </div>
            <div class="row over-pa">
                <div class="col-lg-9 col-sm-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="over-item txt-right unique-style3">
                                <i class="fa fa-book over-i" aria-hidden="true"></i>
                                <div class="break"></div>
                                <h3>Natural Language</h3>
                                <p>AI Genie uses natural language processing to understand user input and provide
                                    relevant responses.</p>
                                <div class="over-btn">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="over-item txt-left unique-style">
                                <i class="fa fa-video-camera over-i" aria-hidden="true"></i>
                                <div class="break"></div>
                                <h3>Automated Suggestions</h3>
                                <p>AI Genie helps you make decisions with actionable items based on user input and
                                    context.</p>
                                <div class="over-btn">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="over-item txt-right unique-style2">
                                <i class="fa fa-star over-i" aria-hidden="true"></i>
                                <div class="break"></div>
                                <h3>Contextual Understanding</h3>
                                <p>AI Genie can detect user intent and provide context-relevant responses.</p>
                                <div class="over-btn">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="over-item txt-left unique-style4">
                                <i class="fa fa-lock over-i" aria-hidden="true"></i>
                                <div class="break"></div>
                                <h3>Intelligent Automation</h3>
                                <p>AI Genie can automate various tasks and help users save time and energy.</p>
                                <div class="over-btn">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURE AREA ENDS -->

    <!-- ABOUT AREA START -->
    <section id="about">
        <div class="container">
            <div class="row header-text text-center about-header">
                <div class="col-lg-12">
                    <h3>AB<span>O</span>UT</h3>
                </div>
            </div>
            <div class="row about-pa">
                <div class="col-lg-10 col-md-12 m-auto about-item">
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 m-sm-auto col-md-5 text-center">
                            <div class="about-img ai-one">
                                <img src="{% static 'website/images/about1.png' %}" alt="about-img" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-txt">
                                <span class="separet-span">About Us</span>
                                <h3>Automate Tasks and Save Time with AI Genie.</h3>
                                <p>AI Genie is the perfect companion to help you automate tasks and save time. AI Genie
                                    uses natural language processing, contextual understanding, and intelligent
                                    automation to help you get more done. With AI Genie, you can streamline processes
                                    and optimize tasks to save time and energy. Try AI Genie today and get the most out
                                    of your day.
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 m-auto about-item col-md-12">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <div class="about-txt sm-reduce-pa">
                                <span class="separet-span">Statistics</span>
                                <div class="p-bars">
                                    <div class="col-lg-12 p-bar">
                                        <span>Total Downloads</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%;"
                                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 p-bar">
                                        <span>Active Users</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 p-bar">
                                        <span>Premium</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 72%;"
                                                 aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row counter-main">
                                <div class="counter-1 col-4 col-lg-4 col-sm-3 col-md-4">
                                    <div class="chart" data-percent="75">
                                    </div>
                                    <h5>4.5</h5>
                                    <span>Total Downloads</span>
                                </div>
                                <div class="counter-1 col-4 col-lg-4  col-sm-3 col-md-4">
                                    <div class="chart" data-percent="65">
                                    </div>
                                    <h5>4.0</h5>
                                    <span>Active Users</span>
                                </div>
                                <div class="counter-1 col-4 col-lg-4 col-sm-3 col-md-4">
                                    <div class="chart" data-percent="55">
                                    </div>
                                    <h5>3.8</h5>
                                    <span>Premium</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 text-center mob-hide sm-hide col-md-5">
                            <div class="about-img ai-two">
                                <img src="{% static 'website/images/about2.png' %}" alt="about-img" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 m-auto about-item col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 m-sm-auto text-center col-md-5">
                            <div class="about-img ai-three">
                                <img src="{% static 'website/images/about3.png' %}" alt="about-img" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-7 col-md-6">
                            <div class="about-txt">
                                <span class="separet-span">Trailers</span>
                                <h3>Make Smarter Decisions with AI Genie</h3>
                                <p>AI Genie can help you make smarter decisions quickly and easily. AI Genie can suggest
                                    actionable items based on user input and context to help you make informed
                                    decisions. With AI Genie, you can optimize processes and automate tasks to save time
                                    and energy. Try AI Genie today and experience the power of AI-powered assistance.
                                </p>
                                <a href="#">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT AREA ENDS -->

    <!-- GALLERY AREA START -->
    <section id="gallery">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>GAL<span>L</span>ERY</h3>
                </div>
            </div>
            <div class="row gallery-pa">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-6 col-12 gallery-img">
                            <img src="{% static 'website/images/g1.jpg' %}" alt="gallary-img" class="img-fluid">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 g-2 col-12 mob-mar-top gallery-img tab-view-hide">
                            <img src="{% static 'website/images/g2.jpg' %}" alt="gallary-img" class="img-fluid sp-img2">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 gallery-img g-mar sm-gallery-top">
                            <img src="{% static 'website/images/g3.jpg' %}" alt="gallary-img" class="img-fluid">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 gallery-img g-mar">
                            <img src="{% static 'website/images/g4.jpg' %}" alt="gallary-img" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 gallery-img g-mar sm-gallery-top2">
                            <img src="{% static 'website/images/g5.jpg' %}" alt="gallary-img"
                                 class="img-fluid w-100 sp-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- GALLERY AREA ENDS -->

    <!-- PRODUCT AREA START -->
    <section id="product">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>PRO<span>D</span>UCT</h3>
                </div>
            </div>
            <div class="row product-pa">
                <div class="col-lg-7 mob-mar-bottom">
                    <div class="product-item">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 product-txt">
                                <span>Free Users</span>
                                <h3>Basic Models</h3>
                                <p>Premium users can gain the power of the standard and low models of chatGPT with ad's
                                    on apps.</p>
                                <a href="#">Browse All</a>
                            </div>
                            <div class="col-lg-4 col-md-4 mob-img-hide">
                                <img src="{% static 'website/images/pro1.png' %}" alt="product-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="product-item product-txt">
                        <span>Premium Users</span>
                        <h3>Advance Models</h3>
                        <p class="next-p">
                            Premium users can gain the power of the most advance models of chatGPT with no ad's on apps.
                        </p>
                        <a href="#">Stream Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-main">
                        <div class="col-lg-3">
                            <div class="product-slider text-center">
                                <div class="pro-img">
                                    <img src="{% static 'website/images/p1.jpg' %}" alt="product-img">
                                </div>
                                <div class="border-style">
                                    <h3>Davinci</h3>
                                    <a href="#">View</a>
                                </div>
                                <div class="row pro-info">
                                    <div class="col-lg-6 col-6 col-sm-5">
                                        <span>Paid</span>
                                    </div>
                                    <div class="col-lg-6 col-6 stars col-sm-7">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-slider text-center">
                                <div class="pro-img">
                                    <img src="{% static 'website/images/p2.jpg' %}" alt="product-img">
                                </div>
                                <div class="border-style">
                                    <h3>Curie</h3>
                                    <a href="#">View</a>
                                </div>
                                <div class="row pro-info">
                                    <div class="col-lg-6 col-sm-5 col-6">
                                        <span>Unavailable</span>
                                    </div>
                                    <div class="col-lg-6 col-6 col-sm-7 stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-slider text-center">
                                <div class="pro-img">
                                    <img src="{% static 'website/images/p3.jpg' %}" alt="product-img">
                                </div>
                                <div class="border-style">
                                    <h3>Babbage</h3>
                                    <a href="#">Unavailable</a>
                                </div>
                                <div class="row pro-info">
                                    <div class="col-lg-6 col-sm-5 col-6">
                                        <span>View</span>
                                    </div>
                                    <div class="col-lg-6 col-6 col-sm-7 stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-slider text-center">
                                <div class="pro-img">
                                    <img src="{% static 'website/images/p4.jpg' %}" alt="product-img">
                                </div>
                                <div class="border-style">
                                    <h3>Ada</h3>
                                    <a href="#">View</a>
                                </div>
                                <div class="row pro-info">
                                    <div class="col-lg-6 col-sm-5 col-6">
                                        <span>Free</span>
                                    </div>
                                    <div class="col-lg-6 col-sm-7 col-6 stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-slider text-center">
                                <div class="pro-img">
                                    <img src="{% static 'website/images/p5.jpg' %}" alt="product-img">
                                </div>
                                <div class="border-style">
                                    <h3>Codex</h3>
                                    <a href="#">View</a>
                                </div>
                                <div class="row pro-info">
                                    <div class="col-lg-6 col-sm-5 col-6">
                                        <span>Paid</span>
                                    </div>
                                    <div class="col-lg-6 col-sm-7 col-6 stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUCT AREA ENDS -->

    <!-- TEAM AREA START -->
    <section id="team">
        <div class="container">
            <div class="row header-text text-center team-header">
                <div class="col-lg-12">
                    <h3>TE<span>A</span>M</h3>
                </div>
            </div>
            <div class="row team-pa">
                <div class="col-lg-3 col-md-3 col-sm-4 m-auto team-item text-center">
                    <img src="{% static 'website/images/team/ikram.jpg' %}" alt="team-member" class="img-fluid">
                    <h3>Ikram Khan</h3>
                    <p>Full Stack Developer</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 m-auto team-item text-center">
                    <img src="{% static 'website/images/team/saqib.jpg' %}" alt="team-member" class="img-fluid">
                    <h3>Saqib Khan</h3>
                    <p>DevOps Engineer</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 m-auto team-item text-center">
                    <img src="{% static 'website/images/team/sheraz.jpg' %}" alt="team-member" class="img-fluid">
                    <h3>Sheraz Khan</h3>
                    <p>Mobile App Developer</p>
                </div>
            </div>
        </div>
    </section>
    <!-- TEAM AREA ENDS -->

    <!-- PRICE AREA START -->
    <section id="price">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>PRI<span>C</span>ING</h3>
                </div>
            </div>
            <div class="row price-pa">
                <div class="col-lg-3 col-sm-6">
                    <div class="price-table mob-mar-bottom">
                        <h3>Free</h3>
                        <h4><sub>$</sub>0<sub>/3 tokens</sub></h4>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Contains Ad's</p>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Basic Models</p>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> No Condex support</p>
                        <div class="price-btn text-center">
                            <a data-toggle="modal" data-target="#downloadModal">Download</a>
                        </div>
                    </div>
                </div>
                {% for package in packages %}
                    {% if package.is_popular %}
                        <div class="col-lg-3 col-sm-6 mob-mar-bottom">
                            <div class="price-table gold-bg">
                                <h3 class="gold">{{ package.name }}</h3>
                                <h4><sub>$</sub>{{ package.price }}<sub>/ {{ package.tokens|cool_num }} tokens</sub></h4>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> No Ad's</p>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Premium Models</p>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Codex Support</p>
                                <div class="price-btn gold-bg2 text-center">
                                    <a data-toggle="modal" data-target="#downloadModal">Purchase</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="price-table mob-mar-bottom">
                                <h3>{{ package.name }}</h3>
                                <h4><sub>$</sub>{{ package.price }}<sub>/ {{ package.tokens|cool_num }} tokens</sub></h4>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> No Ad's</p>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Premium Models</p>
                                <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Codex Support</p>
                                <div class="price-btn text-center">
                                    <a data-toggle="modal" data-target="#downloadModal">Purchase</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- PRICE AREA ENDS -->

    <!-- REVIEW AREA START -->
    <section id="review">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>REV<span>I</span>EW</h3>
                </div>
            </div>
            <div class="row review-pa">
                <div class="col-lg-12">
                    <div class="review-main">
                        <div class="col-lg-6">
                            <div class="review-item">
                                <div class="comment">
                                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>AI Genie has been an
                                        invaluable tool for me. It understands my needs and provides relevant responses
                                        quickly and accurately. Highly recommended!<i
                                                class="fa fa-quote-right" aria-hidden="true"></i></p>
                                </div>
                                <div class="user">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 user-img">
                                            <img src="{% static 'website/images/testimonial.png' %}" alt="user-img">
                                        </div>
                                        <div class="col-lg-7 col-sm-7 user-txt">
                                            <h3>Shakibul Alam</h3>
                                            <div class="star2">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <span>5 Days ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review-item">
                                <div class="comment">
                                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>I’ve been using AI Genie for a
                                        few months now and it’s been life-changing. AI Genie has made it so much easier
                                        to make decisions and automate tasks, just loved it.<i
                                                class="fa fa-quote-right" aria-hidden="true"></i></p>
                                </div>
                                <div class="user">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 user-img">
                                            <img src="{% static 'website/images/testimonial1.png' %}" alt="user-img">
                                        </div>
                                        <div class="col-lg-7 col-sm-7 user-txt">
                                            <h3>Jessica Ava</h3>
                                            <div class="star2">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <span>2 Months ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review-item">
                                <div class="comment">
                                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>AI Genie has made my life so
                                        much easier. It helps me get the information I need without having to search
                                        through multiple sources. I would highly recommend it<i
                                                class="fa fa-quote-right" aria-hidden="true"></i></p>
                                </div>
                                <div class="user">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 user-img">
                                            <img src="{% static 'website/images/testimonial3.png' %}" alt="user-img">
                                        </div>
                                        <div class="col-lg-7 col-sm-7 user-txt">
                                            <h3>Saiful Alam</h3>
                                            <div class="star2">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <span>2 years ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- REVIEW AREA ENDS -->

    <!-- CONTACT AREA START -->
    <section id="contact">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3>CON<span>T</span>ACT</h3>
                </div>
            </div>
            <div class="row contact-pa">
                <div class="col-lg-8 f-text2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link zom" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        01. How does AI Genie work?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    AI Genie uses natural language processing, contextual understanding, and intelligent
                                    automation to help you make smarter decisions, simplify tasks, and save time. AI
                                    Genie can detect user intent and provide context-relevant responses, as well as
                                    suggest actionable items based on user input and context.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed zom" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        02. Is AI Genie free to use?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Yes, AI Genie is free to use for both premium and free users. Premium users have
                                    access to the highest level of AI models and can unlock more features, while free
                                    users can use the lowest model of chatGPT and are subject to ads.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed zom" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        03. What kind of tasks can AI Genie do?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    AI Genie can help you with a variety of tasks, including finding relevant
                                    information, making decisions, optimizing processes, and automating tasks. AI Genie
                                    can also provide context-relevant responses and suggest actionable items based on
                                    user input and context.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mobile-space">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="input-group contact-input mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text faq-icon"><i class="fa fa-user-o"
                                                                                   aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control box-bg" placeholder="Username"
                                           aria-label="Username">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <form>
                                <div class="input-group contact-input mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text faq-icon"><i class="fa fa-envelope-o"
                                                                                   aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control box-bg" placeholder="Email Address"
                                           aria-label="Username">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <form>
                                <div class="form-group">
                                <textarea class="form-control box-bg" placeholder="Ask a Question..."
                                          rows="3"></textarea>
                                </div>
                                <div class="con-btn-main wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                                    <input type="submit" value="Submit Now" class="con-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT AREA ENDS -->

{% endblock %}