{% extends 'website/base.html' %}
{% load static %}

{% block subtitle %}
    Privacy Policy
{% endblock %}

{% block content %}

    <!-- ABOUT AREA START -->
    <section id="about">
        <div class="container">

            <div class="row header-text text-center about-header mt-5">
                <div class="col-lg-12 mt-5">
                    <h3><span>PRIVACY</span> POLICY</h3>
                </div>
            </div>

            <div class="row about-pa">
                <div class="col-lg-10 col-md-12 m-auto about-item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="about-txt">
                                <span class="separet-span">What it say's</span>

                                <h3>Information We Collect</h3>

                                <p>We may collect two types of information from users of the Site: (i) personally
                                    identifiable information, such as name, email address, phone number, and other
                                    information that you may provide voluntarily; and (ii) non-personally identifiable
                                    information, such as IP address, browser type, operating system, and other technical
                                    information.</p>

                                <h3>Use of Information</h3>

                                <p>The information we collect is used to provide our services to you, to improve the
                                    Site, to better understand our users, and to personalize your experience. We may
                                    also use the information to contact you regarding new services or special
                                    offers.</p>

                                <h3>Sharing of Information</h3>

                                <p>We do not sell, trade, or otherwise transfer your personally identifiable information
                                    to outside parties. We may however share non-personally identifiable information
                                    with third parties for marketing and advertising purposes.</p>

                                <h3>Security</h3>

                                <p>We take appropriate measures to safeguard the information we collect. We use
                                    industry-standard encryption technology to protect data transmitted over the
                                    internet. We also have appropriate security measures in place to protect against the
                                    loss, misuse, or alteration of information we collect.</p>

                                <h3>Changes to This Privacy Policy</h3>

                                <p>We may update this Privacy Policy from time to time. We will notify you of any
                                    changes by posting the new policy on the Site. Your continued use of the Site after
                                    any changes constitutes your acceptance of the updated policy.</p>

                                <h3>Contact Us</h3>

                                <p>If you have any questions about this Privacy Policy, please contact us at
                                    <b>support@exarth.com</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT AREA ENDS -->

{% endblock %}

{% load static %}