{% extends 'website/base.html' %}
{% load static %}

{% block subtitle %}
    Terms and Conditions
{% endblock %}

{% block content %}

    <!-- ABOUT AREA START -->
    <section id="about">
        <div class="container">

            <div class="row header-text text-center about-header mt-5">
                <div class="col-lg-12 mt-5">
                    <h3>TERMS<span> & </span>CONDITIONS</h3>
                </div>
            </div>

            <div class="row about-pa">
                <div class="col-lg-10 col-md-12 m-auto about-item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="about-txt">
                                <span class="separet-span">What it say's</span>
                                <h3>Registration and Account Security:</h3>

                                <p>In order to use chatsGPT.exarth.com, you must register for an account and provide
                                    certain information about yourself as prompted by the registration form. You are
                                    responsible for maintaining the confidentiality of your password and are responsible
                                    for
                                    all activities that occur under your account. You agree to immediately notify us of
                                    any
                                    unauthorized use of your password or account or any other breach of security.</p>

                                <h3>Premium User Subscriptions:</h3>

                                <p>Premium users are those who have opted to pay a subscription fee in order to unlock
                                    the
                                    full functionality of chatsGPT.exarth.com. This fee is non-refundable and is charged
                                    on
                                    a recurring basis. Premium users have access to the highest tier of ChatGPT models
                                    and
                                    are free from advertisements.</p>

                                <h3>Free User Accounts:</h3>

                                <p>Free users are those who have opted to not pay a subscription fee, and have access to
                                    the lowest tier of ChatGPT models. Free users are subject to advertisements.</p>

                                <h3>User Content:</h3>

                                <p>Any content or material uploaded, posted, or shared by you (“User Content”) to
                                    chatsGPT.exarth.com is subject to the following restrictions:</p>

                                <ol class="text-white">
                                    <li>
                                        1. User Content must not infringe upon the rights of any third parties,
                                        including
                                        copyrights, trademarks, patents, trade secrets, or other proprietary rights.
                                    </li>
                                    <li>

                                        2. User Content must not contain viruses, malicious code, or any other software
                                        that may
                                        damage the operation of the chatsGPT.exarth.com platform.
                                    </li>
                                    <li>
                                        3. User Content must not contain any obscene, offensive, or otherwise
                                        objectionable
                                        material.
                                    </li>
                                    <li>
                                        4. User Content must not be used for any illegal purposes or in furtherance of
                                        illegal
                                        activities.
                                    </li>
                                </ol><br>

                                <p>We reserve the right to remove any User Content that violates these restrictions or
                                    any
                                    other terms and conditions of this agreement.</p>

                                <h3>Privacy Policy:</h3>

                                <p>We are committed to protecting your privacy. Please refer to our Privacy Policy for
                                    information on how we handle your personal information.</p>

                                <h3>Termination of Service:</h3>

                                <p>We reserve the right to terminate your access to chatsGPT.exarth.com for any reason,
                                    including, but not limited to, a violation of this agreement or any applicable laws
                                    or
                                    regulations.</p>

                                <h3>Disclaimer of Warranties:</h3>

                                <p>CHATSGPT.EXARTH.COM AND ALL OF ITS SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE”
                                    WITHOUT WARRANTY OF ANY KIND. WE DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR
                                    IMPLIED,
                                    INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
                                    FOR A
                                    PARTICULAR PURPOSE, ACCURACY, COMPLETENESS, TIMELINESS, AND NON-INFRINGEMENT.</p>

                                <h3>Limitation of Liability:</h3>

                                <p>IN NO EVENT SHALL CHATSGPT.EXARTH.COM, ITS AFFILIATES, OR ANY OF THEIR RESPECTIVE
                                    OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE FOR ANY DAMAGES WHATSOEVER
                                    (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL,
                                    EXEMPLARY OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST
                                    DATA OR
                                    BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE
                                    CHATSGPT.EXARTH.COM OR
                                    ANY OF ITS SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL
                                    THEORY, EVEN IF CHATSGPT.EXARTH.COM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
                                    DAMAGES.</p>

                                <h3>Governing Law:</h3>

                                <p>These terms and conditions shall be governed by and construed in accordance with the
                                    laws of the State of [State], without giving effect to any principles of conflicts
                                    of
                                    law.</p>

                                <h3>Changes to these Terms:</h3>

                                <p>We may modify these terms and conditions at any time. Any changes will be posted on
                                    this
                                    page. Your continued use of chatsGPT.exarth.com after any changes have been posted
                                    will
                                    signify your acceptance of the modified Terms.</p>

                                <h3>Contact Information:</h3>

                                <p>
                                    If you have any questions or concerns regarding these terms and conditions, please
                                    contact us at <b>support@exarth.com</b>.
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT AREA ENDS -->

{% endblock %}

{% load static %}